@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #f1f6f9;
  background: #212a3e;
}

nav::before {
  @apply bg-blue-500 absolute;

  content: "";
  bottom: -2px;
  left: var(--underline-left, 0px);
  width: var(--underline-width, 0px);
  height: 2px;
  transition: all 0.3s ease;
}

.nav-link {
  @apply hover:text-blue-800 transition-colors duration-200 ease-in relative grow text-center font-semibold;
}

.nav-link::first-letter {
  text-transform: uppercase;
}

@keyframes waveAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes shakeAnimation {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-3px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(3px, 0, 0);
  }
}

.animate-shakeAnimation {
  animation: shakeAnimation 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite
    both;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeInLeft {
  animation: fadeInLeft 0.5s forwards;
}

.animate-fadeInRight {
  animation: fadeInRight 0.5s forwards;
}

@keyframes fillGradient {
  0% {
    background-image: linear-gradient(
      to right,
      transparent 100%,
      transparent 100%
    );
  }
  100% {
    background-image: linear-gradient(
      to right,
      rgba(175, 179, 182, 0.1) 0%,
      transparent 100%
    );
  }
}

.col-background {
  background: linear-gradient(to right, transparent, transparent);
  transition: background-image 0.5s ease-in-out;
}

.card:hover .col-background {
  animation: fillGradient 0.5s forwards;
}

.col-background:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background-image: linear-gradient(
    to right,
    rgba(175, 179, 182, 0.1),
    transparent
  );
  z-index: -1;
  transition: width 0.25s ease-in-out;
}

.card:hover .col-background:before {
  width: 100%;
}
