@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

nav::before {
  @apply bg-green;

  content: "";
  position: absolute;
  bottom: -2px;
  left: var(--underline-left, 0px);
  width: var(--underline-width, 0px);
  height: 2px;
  transition: all 0.3s ease;
}

.nav-link {
  position: relative;
  flex-grow: 1;
  text-align: center;
}

.nav-link::first-letter {
  text-transform: uppercase;
}
